#header
{
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-kerning: normal;
}

#toDoList
{
    list-style: none;
    text-align: left;
    font-family: sans-serif;
}

#inputField
{
  display: inline;
  margin: 0;
  width: 200px;
  Height:
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

#addButton
{
    background: black;
    padding: 15px; 
    border-radius: 5px;
    color: white; 
    padding: 1em;
    font-size: .9em;
    margin: .3em;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

#editItemButton
{
    background: #33CCCC;
    padding: 15px; 
    border-radius: 5px;
    color: white; 
    padding: 1em;
    font-size: .9em;
    margin: .3em;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

#markDoneButton
{
    background: #009999;
    padding: 15px; 
    border-radius: 5px;
    color: white; 
    padding: 1em;
    font-size: .9em;
    margin: .3em;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

#removeItemButton
{
    background: #006666;
    padding: 15px; 
    border-radius: 5px;
    color: white; 
    padding: 1em;
    font-size: .9em;
    margin: .3em;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

#buttonBar
{
    margin: 10px auto;
    display: -webkit-box;   
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 100%;
}

p
{
    font-style: italic;
    font-size: 16px;
    width: 350px;
}

li span
{
   display: inline;
   margin-left: 10px;
}

#inputField
{
    width: 200px;
    margin-right: 25px;
}

#wrapper
{
    width: 350px ;
    padding: 20px;
    outline: #33CCCC dotted thin;
    margin-left: auto ;
    margin-right: auto ;
}